.user {
  &__container {
    display: flex;
    align-items: center;
    max-width: 714px;
    padding: 8px 20px 8px 40px;
    background: #f1f1f1;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
  &__rank {
    padding-right: 30px;
    font-size: 18px;
    line-height: 22px;
    color: #808080;
  }
  &__name {
    flex: 1 1 auto;
  }
  &__score {
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
  }
}
.user__difference {
  padding-right: 7px;
  color: #f99746;
  &_down {
    color: #b64c41;
  }
  &_up {
    color: #40a3c4;
  }
  &_new {
    color: rgb(7, 139, 0);
  }
}
