.heading {
  &__container {
    margin-bottom: 20px;
  }
  &__name {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #030327;
  }
  &__highlighted {
    color: #f99746;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
  }
  &__title {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #030327;
  }
}
