.header {
  &__container {
    position: relative;
    background: rgba(27, 33, 172, 0.96);
    border-radius: 10px;
    padding: 90px;
  }
  &__title {
    padding-bottom: 8px;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #efefef;
  }
  &__draft {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #efefef;
  }
  &__topscore {
  }
  &__img {
    position: absolute;
    top: 0;
    right: 0;
  }
}
